@charset "UTF-8";
/**
 * @site         Kosméline
 * @author       Luc Poupard
 * @lastmodified 2020-12-27
 * @note         Fonctions
 */

/* ----------------------------- */
/* Sommaire */
/* ----------------------------- */
/*
	== Fonctions tirés de ROCSSTI
*/

/* == @section Fonctions tirés de ROCSSTI ==================== */
/**
 * @note ROCSSTI : une base CSS par Nicolas Hoffmann http://rocssti.net/
 * @note inspiré par http://www.knacss.com/
 * @note ROCSSTI est sous licence CC-BY : http://creativecommons.org/licenses/by/3.0/fr/
 */

/* Ne pas modifier */
$base-font: 16; // si "14" alors 1em = 14px
$line-height: 1.5;

$root-default-font-size: 16;

/**
 * Rythme vertical
 * Valeurs possibles : 'double_top_single_bottom', 'single_top', 'single_bottom'
 * Calculs via http://soqr.fr/vertical-rhythm/ merci @goetter & @eQRoeil
 */
$vertical-rythm: "double_top_single_bottom";

/* Fonctions Sass : pas touche ! */
@function em($px, $base: $base-font) {
	@return ($px / $base) * 1em;
}

@function em-mq($px, $base: $root-default-font-size) {
	@return ($px / $base) * 1em;
}

@function line-height($font-size, $base-height, $base-font, $type-vr) {
	$coef: ceil(1 / ($base-height * $base-font / $font-size));
	$height: ($base-font * $base-height / $font-size);

	@return ($height * $coef);
}

@function margin-em($font-size, $base-height, $base-font, $type-vr) {
	$coef: ceil(1 / ($base-height * $base-font / $font-size));
	$other_coef: ceil($base-height * $base-font / $font-size);
	$height: ($base-font * $base-height / $font-size);
	$margin: ($height * $coef);

	@if $type-vr == "double_top_single_bottom" {
		@return (
			($margin * $other_coef) * 1em 0 (($margin/2) * $other_coef) * 1em 0
		);
	} @else if $type-vr == "single_bottom" {
		@return (0 0 (($margin/2) * $other_coef) * 1em 0);
	} @else if $type-vr == "single_top" {
		@return ((($margin/2) * $other_coef) * 1em 0 0 0);
	}
}

@function margin-em-other($font-size, $base-height, $base-font, $type-vr) {
	$coef: ceil(1 / ($base-height * $base-font / $font-size));
	$height: ($base-font * $base-height / $font-size);
	$margin: ($height * $coef);

	@return (($margin) * 1em 0);
}
