{
	"trailingComma": "es5",
	"singleQuote": true,
	"printWidth": 120,
	"proseWrap": "never",
	"overrides": [
		{
			"files": ["*.scss", "*.css"],
			"options": {
				"singleQuote": false
			}
		}
	]
}
