@charset "UTF-8";
/**
 * @site         Kosméline
 * @author       Luc Poupard
 * @lastmodified 2020-12-27
 * @note         Classes utilitaires
 */

.center {
	text-align: center;
}
.left {
	text-align: left;
}
.right {
	text-align: right;
}

.fleft {
	float: left;
}
.fright {
	float: right;
}
.fnone {
	float: none;
}

.clear {
	clear: both;
}

.clearfix:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

@mixin clearfix {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/* Pour masquer un élément visuellement et qu'il reste accessible aux moteurs de recherche et technologies d'assistance */
.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

@mixin visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
