@charset "UTF-8";
/**
 * @site         Kosméline
 * @author       Luc Poupard
 * @lastmodified 2020-12-28
 * @note         Navigation
 */

.site-navigation {
	font-family: $font-stack-headings;
	font-size: 2rem;

	a {
		padding: $menu-item-padding-top $content-padding;
		display: block;
		text-decoration: none;

		&:hover,
		&:focus {
			background-color: $base-text-color;
			color: $base-background-color;
		}
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		text-transform: uppercase;
	}

	li {
		position: relative;
	}
}

/* Menu courant */
.menu > .current_page_item,
.menu > .current_page_parent,
.menu > .current-menu-ancestor {
	> a::after {
		content: "";
		position: absolute;
		display: inline-block;
		width: 3rem;
		height: 3rem;
		background-image: url("../img/etoile.svg");
		background-size: 100%;
	}
}

/* Sous-menus */
.menu-item-has-children {
	&:focus-within {
		color: $base-background-color;

		> a,
		> button {
			background-color: $base-text-color;
			color: currentColor;
		}
	}
}

/* Bouton menu mobile */
#mobile-menu-toggle {
	position: fixed;
	top: 0;
	right: 4rem;
	z-index: 2;
	padding: 0.5rem 0.5rem 0.75rem;
	border: none;
	background-color: $base-text-color;
	color: $base-background-color;
	font-family: $font-stack-body;
	font-size: initial;
	line-height: 1.5;

	.admin-bar & {
		top: 32px;

		@media screen and (max-width: 782px) {
			top: 46px;
		}
	}

	&:hover,
	&:focus {
		background-color: $color-2;
		color: $base-text-color;
	}
}

body.menu-opened {
	overflow: hidden;
}

@mixin nav-small {
	#mobile-menu {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		padding-top: 7rem;
		background-color: $base-background-color;
		z-index: 1;
		display: none !important;
		overflow-y: auto;

		.open & {
			display: block !important;
		}

		&::before {
			content: "";
			display: block;
			position: fixed;
			top: 0;
			bottom: 0;
			left: 2rem;
			width: 2px;
			background-color: $base-text-color;
		}
	}

	.site-navigation {
		a {
			padding-left: 5rem;
		}
	}

	/* Menu courant */
	.menu > .current_page_item,
	.menu > .current_page_parent,
	.menu > .current-menu-ancestor {
		> a::after {
			top: calc(1em - #{$menu-item-padding-top / 2});
			left: calc(0.5rem + 1px);
		}
	}

	/* Sous-menus */
	.menu-item-has-children {
		ul a {
			padding-left: 6.5rem;
		}

		ul ul a {
			padding-left: 8rem;
		}
	}
}

@mixin nav-large {
	.site-navigation {
		a {
			white-space: nowrap;
		}
	}

	/* Bouton menu mobile */
	#mobile-menu-toggle {
		display: none !important;
	}

	.site-navigation {
		border-bottom: 2px solid $base-text-color;

		ul {
			text-align: center;
		}

		li {
			display: inline-block;
		}

		.sub-menu li {
			display: block;
		}
	}

	/* Menu courant */
	.menu > .current_page_item,
	.menu > .current_page_parent,
	.menu > .current-menu-ancestor {
		> a::after {
			bottom: calc(-1.5rem - 1px);
			left: calc(50% - 1.5rem);
			z-index: 1;
		}
	}

	/* Sous-menus */
	.menu-item-has-children {
		> ul {
			position: absolute;
			top: 100%;
			left: -100vw;
			transform: translate(-50%);
			border: 2px solid $base-text-color;
			background-color: $base-background-color;
			text-align: left;

			a {
				background-color: $base-text-color;
				color: $base-background-color;

				&:hover,
				&:focus {
					background-color: $color-3;
					color: $base-text-color;
				}
			}
		}

		&:hover,
		&:focus-within {
			> ul {
				left: 50%;
			}
		}

		.menu-item-has-children {
			> ul {
				top: -2px;
				left: -100vw;
				transform: unset;
			}

			&:hover,
			&:focus-within {
				> ul {
					left: 100%;
				}
			}
		}
	}
}
