@charset "UTF-8";
/**
 * @site         Kosméline
 * @author       Luc Poupard
 * @lastmodified 2021-09-19
 * @note         Navigation
 */

.site-navigation {
	font-family: $font-stack-headings;
	font-size: 2rem;

	a {
		padding: $menu-item-padding-top $content-padding;
		display: block;
		text-decoration: none;

		&:hover,
		&:focus {
			background-color: $base-text-color;
			color: $base-background-color;
		}
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		text-transform: uppercase;
	}

	li {
		position: relative;
	}
}

/* Menu courant */
.site-navigation .menu > .current_page_item,
.site-navigation .menu > .current_page_parent,
.site-navigation .menu > .current-menu-ancestor {
	> a::after {
		content: "";
		position: absolute;
		display: inline-block;
		width: 3rem;
		height: 3rem;
		background-image: url("../img/etoile.svg");
		background-size: 100%;
	}
}

/* Sous-menus */
.menu-item-has-children {
	&:focus-within {
		color: $base-background-color;

		> a,
		> button {
			background-color: $base-text-color;
			color: currentColor;
		}
	}
}

/* Bouton menu mobile */
#mobile-menu-toggle {
	position: fixed;
	top: 0;
	right: 4rem;
	z-index: 3;
	display: inline-flex;
	align-items: center;
	padding: 0.5rem 0.75rem 0.75rem;
	height: 2.5em;
	border: none;
	background-color: $base-text-color;
	color: $base-background-color;
	font-family: $font-stack-body;
	font-size: initial;
	line-height: 1.5;

	.admin-bar & {
		top: 46px;
	}

	&:hover,
	&:focus {
		background-color: $color-2;
		color: $base-text-color;
	}
}

@mixin admin-nav {
	.admin-bar #mobile-menu-toggle {
		top: 32px;
	}
}

body.menu-opened {
	overflow: hidden;
}

/**
 * Icône burger
 * Inspiré librement par https://jonsuh.com/hamburgers/
 */
.hamburger-box {
	position: relative;
	display: inline-block;
	margin-right: 0.5em;
	width: 1.8rem;
	height: 1.6rem;
}

.hamburger-inner {
	display: block;
	margin-top: -0.1rem;
	top: 50%;
	transition-duration: 0.22s;
	transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

	&,
	&::before,
	&::after {
		width: 1.8rem;
		height: 0.2rem;
		background-color: currentColor;
		border-radius: 0.4rem;
		position: absolute;
		transition-property: transform;
		transition-duration: 0.15s;
		transition-timing-function: ease;
	}

	&::before,
	&::after {
		content: "";
		display: block;
	}

	&::before {
		top: -0.6rem;
		transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
	}

	&::after {
		bottom: -0.6rem;
		transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
	}
}

.menu-opened {
	.hamburger-inner {
		transform: rotate(225deg);
		transition-delay: 0.12s;
		transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

		&::before {
			top: 0;
			opacity: 0;
			transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
		}

		&::after {
			bottom: 0;
			transform: rotate(-90deg);
			transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
		}
	}
}

@mixin nav-small {
	#mobile-menu {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		padding-top: 7rem;
		background-color: $base-background-color;
		z-index: 2;
		opacity: 0;
		overflow-y: auto;
		transform-origin: 0% 0%;
		transform: translate(-100vw, 0);
		transition: transform 0.75s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.75s;

		.open & {
			display: block !important;
			opacity: 1;
			transform: none;
		}

		&::before {
			content: "";
			display: block;
			position: fixed;
			top: 0;
			bottom: 0;
			left: 2rem;
			width: 2px;
			background-color: $base-text-color;
		}
	}

	.site-navigation {
		a {
			padding-left: 5rem;
		}
	}

	/* Menu courant */
	.site-navigation .menu > .current_page_item,
	.site-navigation .menu > .current_page_parent,
	.site-navigation .menu > .current-menu-ancestor {
		> a::after {
			top: calc(1em - #{$menu-item-padding-top / 2});
			left: calc(0.5rem + 1px);
		}
	}

	/* Sous-menus */
	.menu-item-has-children {
		ul a {
			padding-left: 6.5rem;
		}

		ul ul a {
			padding-left: 8rem;
		}
	}
}

@mixin nav-large {
	.site-navigation {
		a {
			white-space: nowrap;
		}
	}

	/* Bouton menu mobile */
	#mobile-menu-toggle {
		display: none !important;
	}

	.site-navigation {
		border-bottom: 2px solid $base-text-color;

		ul {
			text-align: center;
		}

		li {
			display: inline-block;
		}

		.sub-menu li {
			display: block;
		}
	}

	/* Menu courant */
	.site-navigation .menu > .current_page_item,
	.site-navigation .menu > .current_page_parent,
	.site-navigation .menu > .current-menu-ancestor {
		> a::after {
			bottom: calc(-1.5rem - 1px);
			left: calc(50% - 1.5rem);
			z-index: 1;
		}
	}

	/* Sous-menus */
	.menu-item-has-children {
		> ul {
			position: absolute;
			top: 100%;
			left: -100vw;
			z-index: 1;
			transform: translate(-50%);
			border: 2px solid $base-text-color;
			background-color: $base-background-color;
			text-align: left;

			a {
				background-color: $base-text-color;
				color: $base-background-color;

				&:hover,
				&:focus {
					background-color: $color-3;
					color: $base-text-color;
				}
			}
		}

		&:hover,
		&:focus-within {
			> ul {
				left: 50%;
			}
		}

		.menu-item-has-children {
			> ul {
				top: -2px;
				left: -100vw;
				transform: unset;
			}

			&:hover,
			&:focus-within {
				> ul {
					left: 100%;
				}
			}
		}
	}
}
