@charset "UTF-8";
/**
 * @site         Kosméline
 * @author       Luc Poupard
 * @lastmodified 2020-12-29
 * @note         Woocommerce
 */

/* Basket in menu */
$cart-count: 3rem;

.site-skiplinks a.site-basket {
	position: relative;
	padding-right: #{$cart-count + 1rem};
}

.cart-contents-count {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0.5rem;
	display: inline-block;
	height: 3rem;
	width: 3rem;
	border-radius: 50%;
	background-color: $base-text-color;
	color: $base-background-color;
	text-align: center;
	line-height: 1.75;

	> span {
		@extend .visually-hidden;
	}
}

.site-basket {
	&:hover,
	&:focus {
		.cart-contents-count {
			background-color: $base-background-color;
			color: $base-text-color;
		}
	}
}

/* Breadcrumb */
.woocommerce-breadcrumb {
	padding: calc(#{$content-padding} / 2) $content-padding 1.25rem;
	background-color: $color-2;
	color: $color-4;

	ol {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	li {
		display: inline-block;
	}

	a {
		color: currentColor;

		&[aria-current] {
			text-decoration: none;
		}
	}

	&-delimiter {
		margin: 0 0.5rem;
	}
}

/* Products list */
.woocommerce-products-header {
	margin: calc(#{$content-padding} / 2) $content-padding;
}

.woocommerce-result-count,
.woocommerce-ordering {
	margin: 0;
	padding: 1rem $content-padding;
	width: 49%;
}

.woocommerce-result-count {
	float: left;
}

.woocommerce-ordering {
	float: right;
	text-align: right;
}

.products {
	clear: both;
	margin: 0;
	list-style: none;

	.archive & {
		padding: $content-padding;
	}

	.product {
		border: 2px solid $color-3;
		background-color: $color-3;
		text-align: center;

		&:hover {
			border-color: $color-4;
		}

		&:focus-within {
			border-color: $color-4;
		}
	}

	a {
		text-decoration: none;
	}

	.woocommerce-loop-product__link {
		display: block;

		.price {
			margin: 1rem;
			font-weight: bold;
		}
	}

	.woocommerce-loop-category__title,
	.woocommerce-loop-product__title {
		margin: 1rem;
		font-size: 2rem;
		text-align: left;
		line-height: 1.25;
	}

	.woocommerce-loop-category__title {
		mark {
			background-color: transparent;
			color: currentColor;
			font-weight: normal;
		}
	}

	.woocommerce-product-details__short-description {
		margin: 0 1rem 2rem 1rem;
		text-align: left;
		font-size: 1.6rem;
	}

	.product_type_simple.button {
		display: inline-block;
		margin: 1.5rem auto 2rem;
		padding: 0.25em 0.5em 0.35em;
		border: 2px solid $base-text-color;
		background-color: $color-3;
		color: $base-text-color;

		&:hover,
		&:focus {
			border-color: $color-4;
			color: $color-4;
		}

		&:active {
			background-color: $base-text-color;
			color: $color-3;
		}
	}
}

ul.products {
	padding: 0;

	li::before {
		display: none;
	}
}

@mixin products-list-large {
	.products {
		display: flex;
		flex-wrap: wrap;
	}
}

@mixin products-list-2col {
	.products {
		.product {
			width: calc((100% - 3rem) / 2);

			&:not(:nth-child(2n)) {
				margin-right: 3rem;
			}

			&:nth-child(2n) ~ .product {
				margin-top: 3rem;
			}
		}
	}
}

@mixin products-list-3col {
	.products {
		.product {
			width: calc((100% - 6rem) / 3);

			&:not(:nth-child(3n)) {
				margin-right: 3rem;
			}

			&:nth-child(3n) ~ .product {
				margin-top: 3rem;
			}
		}
	}
}

@mixin products-list-4col {
	.products {
		.product {
			width: calc((100% - 9rem) / 4);

			&:not(:nth-child(4n)) {
				margin-right: 3rem;
			}

			&:nth-child(4n) ~ .product {
				margin-top: 3rem;
			}
		}
	}
}

/* Product detail */
.product {
	background-color: $color-1;
}

.woocommerce-product-gallery__wrapper {
	margin: 0;
}

.product-kosmeline {
	padding: $content-padding;

	.product_title {
		line-height: 1.25;
	}

	.woocommerce-product-gallery {
		img {
			border: 2px solid $color-4;
		}
	}
}

.kosmeline-product-title {
	display: block;

	&::before {
		content: "\0000AB\0000A0";
	}
	&::after {
		content: "\0000A0\0000BB";
	}
}

.product-infos {
	color: $color-4;

	dt,
	dd {
		display: inline-block;
	}

	dd {
		margin-left: 0;
	}

	.stock {
		text-transform: lowercase;
	}
}

@mixin product-detail-small {
	.product-kosmeline {
		.entry-summary {
			padding-top: $content-padding;
		}
	}
}

@mixin product-detail-large {
	.product-kosmeline {
		display: flex;

		.woocommerce-product-gallery {
			width: 35rem;
			max-width: 35%;
		}

		.entry-summary {
			flex: 1;
			padding-left: $content-padding;
		}
	}
}

.woocommerce-tab {
	margin-top: 2rem;
}

.woocommerce-Tabs-panel {
	padding: calc(#{$content-padding} / 2) $content-padding;
	background-color: $color-3;
}

.wc-tabs {
	margin: 0;
	padding: 0;
	list-style: none;
	white-space: nowrap;
	overflow: auto;

	li {
		display: inline-block;

		&.active {
			background-color: $color-3;

			a {
				text-decoration: none;
			}
		}
	}

	a {
		display: inline-block;
		padding: 1.75rem $content-padding;
	}
}

ul.wc-tabs li::before {
	display: none;
}

.entry-summary {
	.price,
	.cart {
		text-align: right;
	}

	.price {
		font-family: $font-stack-headings;
		font-size: 2.4rem;
		font-weight: bold;
	}

	.cart {
		.quantity {
			display: inline-block;
		}

		input,
		button {
			display: inline-block;
			border: 2px solid $base-text-color;
			background-color: $base-text-color;
			color: $base-background-color;
			line-height: 1.5;
		}

		input {
			padding: 0.75em 0.5em;
			text-align: right;

			&:focus {
				border-color: $color-4;
			}
		}

		button {
			padding: 0.75em 1em;
			background-color: $color-3;
			color: $base-text-color;
			cursor: pointer;

			&:hover,
			&:focus {
				border-color: $color-4;
				color: $color-4;
			}

			&:active {
				background-color: $base-text-color;
				color: $color-3;
			}
		}
	}
}

.woocommerce-product-details__short-description {
	margin: 2rem 0;
	font-size: 2rem;
}

.product_meta {
	margin-top: 2rem;
	color: $color-4;

	a {
		color: currentColor;
	}

	> span {
		display: block;
	}
}

/* Basket */
.shop_table {
	width: 100%;

	th,
	td {
		padding: 1rem;
	}

	.product-name {
		text-align: left;
	}

	.product-remove,
	.product-thumbnail,
	.product-quantity {
		text-align: center;
	}

	.product-price,
	.product-subtotal,
	.actions {
		text-align: right;
	}

	.product-thumbnail {
		img {
			width: 10rem;
			vertical-align: middle;
		}
	}

	.actions {
		button {
			display: inline-block;
			border: none;
			background-color: transparent;

			&:not([disabled]) {
				text-decoration: underline;
				color: currentColor;
				cursor: pointer;
			}

			&:hover,
			&:focus {
				text-decoration: none;
			}
		}
	}
}

.woocommerce-cart-form__contents {
	tbody {
		tr {
			td {
				border-top: 2px solid $color-4;
			}
		}
	}

	.cart_item:not(:first-child) {
		td {
			border-top: 1px dotted;
		}
	}
}

.cart-collaterals {
	margin: 3rem 0 0 auto;
	width: calc(100% - 60rem);

	th {
		text-align: left;
		vertical-align: top;
	}

	.shop_table {
		tr:not(:first-child) {
			th,
			td {
				border-top: 2px solid $color-4;
			}
		}
	}
}

ul.woocommerce-shipping-methods {
	padding: 0;
	list-style: none;

	li::before {
		display: none;
	}

	input[type="radio"] {
		margin-right: 0.5rem;
	}
}

.wc-proceed-to-checkout {
	padding-top: 2rem;
	text-align: right;

	.checkout-button {
		display: inline-block;
		padding: 0.75em 1em;
		border: 2px solid $base-text-color;
		background-color: $color-3;
		color: $base-text-color;
		line-height: 1.5;
		text-decoration: none;

		&:hover,
		&:focus {
			border-color: $color-4;
			color: $color-4;
		}

		&:active {
			background-color: $base-text-color;
			color: $color-3;
		}
	}
}

/* Validation commande */
#customer_details {
	display: flex;
	justify-content: space-between;

	> div {
		padding: 3rem 0;
		width: calc(50% - 3rem);
	}

	label {
		display: block;
		margin: 1rem 0 0.5rem;
	}
}

// Review
.woocommerce-checkout-review-order-table {
	border-collapse: collapse;

	tbody tr,
	tfoot tr {
		th,
		td {
			border-top: 2px solid $color-4;
		}
	}

	.cart_item:not(:first-child),
	.shipping {
		th,
		td {
			border-top: 1px dotted;
		}
	}

	.product-subtotal {
		text-align: left;
	}

	.cart-subtotal,
	.shipping,
	.order-total {
		th {
			text-align: right;
			vertical-align: top;
		}
	}
}

.place-order {
	margin-top: 3rem;
	text-align: center;

	button {
		display: inline-block;
		padding: 0.75em 1em;
		border: 2px solid $base-text-color;
		background-color: $color-3;
		color: $base-text-color;
		line-height: 1.5;
		text-decoration: none;
		cursor: pointer;

		&:hover,
		&:focus {
			border-color: $color-4;
			color: $color-4;
		}

		&:active {
			background-color: $base-text-color;
			color: $color-3;
		}
	}
}

.woocommerce-checkout-payment {
	margin-top: 3rem;

	.methods {
		padding: 0;
	}

	.payment_box {
		margin: 1rem 2rem 2rem;
		padding: 1rem 2rem;
		border: 1px dashed $color-2;
		background-color: $base-text-color;
		color: $color-3;
	}

	.woocommerce-privacy-policy-text {
		text-align: left;
	}
}

// Repris de la quantité sur le détail
input[type="text"],
input[type="number"],
input[type="tel"],
input[type="email"],
input[type="password"],
textarea,
select {
	display: block;
	padding: 0.25em 0.5em;
	width: 100%;
	border: 2px solid $base-text-color;
	background-color: $base-text-color;
	color: $base-background-color;
	line-height: 1.5;

	&:focus {
		border-color: $color-4;
	}
}

textarea {
	width: 100%;
}

.select2-container--default .select2-selection--single {
	padding: 0.25em 0.5em;
	border: 2px solid $base-text-color;
	border-radius: 0;
	background-color: $base-text-color;
	height: auto;

	&:focus {
		border-color: $color-4;
	}
}

.select2-container--default
	.select2-selection--single
	.select2-selection__rendered {
	line-height: inherit;
}

.select2-container .select2-selection--single .select2-selection__rendered {
	padding-left: 0;
}

.select2-container--default
	.select2-selection--single
	.select2-selection__arrow {
	height: 100%;
}

.select2-dropdown,
.select2-container--default
	.select2-selection--single
	.select2-selection__rendered {
	color: $base-background-color;
}

.select2-container--default
	.select2-results__option--highlighted[aria-selected],
.select2-container--default
	.select2-results__option--highlighted[data-selected] {
	background-color: $color-3;
	color: $base-text-color;
}

.select2-dropdown {
	border: 2px solid $color-4;
	border-radius: 0;
}

.select2-container--open .select2-dropdown--below {
	border-top: 2px solid $color-4;
}

/* AJAX loading */
.blockUI.blockOverlay {
	background-color: rgba($color-1, 0.85) !important;
}

.woocommerce-message {
	margin: 2rem;
	padding: 1rem 2rem;
	border: 1px dashed $color-2;
	background-color: $base-text-color;
	color: $color-3;

	a {
		color: currentColor;
	}
}

.added_to_cart.wc-forward {
	display: block;
	margin: 0 auto 2rem;
	text-decoration: underline;
}

/* Confirmation */
.woocommerce-table--order-details {
	border-collapse: collapse;

	tbody tr,
	tfoot tr {
		th,
		td {
			border-top: 2px solid $color-4;
		}
	}

	.order_item:not(:first-child),
	tfoot tr:not(:first-child):not(:last-child) {
		th,
		td {
			border-top: 1px dotted;
		}
	}

	.product-total {
		text-align: left;
	}

	tfoot {
		th {
			text-align: right;
			vertical-align: top;
		}
	}
}

.woocommerce-order-details,
.woocommerce-customer-details {
	margin-top: 4rem;
}

.woocommerce-columns--addresses {
	display: flex;
	justify-content: space-between;

	> div {
		padding: 3rem 0;
		width: calc(50% - 3rem);
	}
}

/* Account pages */
.woocommerce-account {
	.woocommerce-MyAccount-navigation,
	.woocommerce-MyAccount-content {
		margin-top: 3rem;
	}

	.woocommerce-MyAccount-navigation {
		float: left;
		width: 30%;
	}

	.woocommerce-MyAccount-content {
		float: right;
		width: 68%;
	}
}
